IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
// group A = example digital-tube pins
IO_LOC "selA" K5;  IO_PORT "selA" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[6]" L11; IO_PORT "segA[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[5]" K11; IO_PORT "segA[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[4]" L5;  IO_PORT "segA[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[3]" E10; IO_PORT "segA[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[2]" E11; IO_PORT "segA[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[1]" A11; IO_PORT "segA[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segA[0]" A10; IO_PORT "segA[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// group B = example LED pins
IO_LOC "selB" C10; IO_PORT "selB" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[6]" C11; IO_PORT "segB[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[5]" B10; IO_PORT "segB[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[4]" B11; IO_PORT "segB[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[3]" D10; IO_PORT "segB[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[2]" D11; IO_PORT "segB[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[1]" G10; IO_PORT "segB[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segB[0]" G11; IO_PORT "segB[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// group C = example button/switch pins
IO_LOC "selC" H5;  IO_PORT "selC" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[6]" H8; IO_PORT "segC[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[5]" G8; IO_PORT "segC[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[4]" G5; IO_PORT "segC[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[3]" J5; IO_PORT "segC[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[2]" H7; IO_PORT "segC[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[1]" G7; IO_PORT "segC[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "segC[0]" F5; IO_PORT "segC[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
